<template>
    <div id="nav">
        <router-link to="/">Home</router-link>
        |
        <router-link to="/about">About</router-link>
        |
        <router-link to="/users">Users</router-link>
        |
        <router-link to="#" v-on:click="logout()">Logout</router-link>
    </div>
    <router-view :server="server"></router-view>
</template>

<script>
    import {Server} from "./utils/server";

    export default {
        name: 'App',
        props: {
            /** @type {Server} */
            server: Server
        },
        methods: {
            logout() {
                return this.server.logout();
            }
        }
    }
</script>


<style lang="scss">
    #app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
    }

    #nav {
        padding: 30px;

        a {
            font-weight: bold;
            color: #2c3e50;

            &.router-link-exact-active {
                color: #42b983;
            }
        }
    }
</style>
