<template>
    <div class="home">
        <img alt="Vue logo" src="../assets/logo.png">
    </div>
</template>

<script>
    import {Server} from "@/utils/server";

    export default {
        name: 'Home',
        props: {
            /** @type {Server} */
            server: Server
        }
    }
</script>
