<template>
  <div>
    <UserCreate :server="server"/>
    <UserList :server="server"/>
  </div>
</template>

<script>
import UserList from '@/components/UserList.vue';
import UserCreate from '@/components/UserCreate.vue';
import {Server} from "@/utils/server";

export default {
  name: 'UserManagement',
  props: {
    /** @type {Server} */
    server: Server
  },
  components: {
    UserList,
    UserCreate
  }
}
</script>
