<template>
  <!-- Modal -->
  <div ref="modal" class="modal fade" :id="id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <slot name="header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

          </slot>
        </div>
        <div class="modal-body">
          <slot name="body">
            .........
          </slot>
        </div>
        <div class="modal-footer">
          <slot name="footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </slot>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {Modal} from 'bootstrap'
import {v4} from 'uuid';

export default {
  name: "Modal",
  data() {
    return {
      id: v4()
    };
  },
  methods: {
    open() {
      this.modal.show();
    }
  },
  mounted() {
    this.modal = new Modal(document.getElementById(this.id))
  }
};
</script>