<template>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-hover table-bordered table-responsive-sm">
                    <thead class="thead-dark">
                    <tr>
                        <th v-for="(col, index) in columns"
                            :key="index"
                            :style="{ width: col.width ? col.width : 'auto' }">
                            <div>
                                {{ col.label }}
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody v-if="rows.length > 0">
                    <tr v-for="(row, i) in rows" :key="i">
                        <td v-for="(col, j) in columns" :key="j">
                            <div v-if="col.display" v-html="col.display(row)"></div>
                            <span v-else>{{ row[col.field] }}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" v-if="rows.length > 0">
            <div class="col-sm-12 col-md-4">
                <div>
                    {{ `${offset} - ${limit}`}}
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="dataTables_paginate paging_simple_numbers"
                     id="dataTables-example_paginate">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a class="page-link"
                               href="#"
                               aria-label="Previous"
                               v-on:click="prevPage">
                                <span aria-hidden="true">&lt;</span>
                                <span>Prev</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link"
                               href="#"
                               aria-label="Next"
                               v-on:click="nextPage">
                                <span>Next</span>
                                <span aria-hidden="true">&gt;</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row" v-else>
            <div class="col-sm-12 text-center">
                {{ messages.noDataAvailable }}
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Table",
        props: {
            title: {
                type: String,
                default: "",
            },
            columns: {
                type: Array,
                default: () => {
                    return [];
                },
            },
            rows: {
                type: Array,
                default: () => {
                    return [];
                },
            },
            pageSize: {
                type: Number,
                default: 10,
            },
            total: {
                type: Number,
                default: 100,
            },
            messages: {
                type: Object,
                default: () => {
                    return {
                        pagingInfo: "Showing {0}-{1} of {2}",
                        noDataAvailable: "No data",
                    };
                },
            },
        },
        data() {
            return {
                page: 1,
            }
        },
        computed: {
            offset() {
                return (this.page - 1) * this.pageSize + 1;
            },
            limit() {
                let limit = this.page * this.pageSize;
                return this.total >= limit ? limit : this.total;
            }
        },
        watch: {
            page() {
                this.changePage(this.page);
            }
        },
        methods: {

            /**
             *
             * @param {Number} page
             */
            changePage(page) {
                let offset = (page - 1) * this.pageSize;
                let limit = page * this.pageSize;
                this.$emit("table-request-list", offset, limit);
            },
            prevPage() {
                if (this.page === 1) {
                    return false;
                }
                this.page--;
            },
            nextPage() {
                if (this.rows.length < this.pageSize) {
                    return false;
                }
                this.page++;
            }
        }
    };
</script>
