<template>
  <div>
    <h1>User List</h1>
    <Table :has-checkbox="true"
           :is-loading="table.isLoading"
           :is-re-search="table.isReSearch"
           :columns="table.columns"
           :rows="table.rows"
           :total="table.totalRecordCount"
           :sortable="table.sortable"
           :messages="table.messages"></Table>
  </div>
</template>


<script>
import {Server} from "@/utils/server";
import Table from '@/components/Table.vue';
import {EVENTS} from "@/utils/bus";

export default {
  name: 'UserList',
  props: {
    msg: String,
    /** @type {Server} */
    server: Server
  },
  components: {
    Table
  },
  data: () => {
    return {
      table: {
        columns: [
          {
            label: "ID",
            field: "id",
            isKey: true,
          },
          {
            label: "Name",
            field: "name",
          },
          {
            label: "Email",
            field: "email",
          },
          /*{
              label: "",
              field: "quick",
              width: "10%",
              display: function (row) {
                  return (
                      '<button type="button" data-id="' + row.user_id + '" class="quick-btn">Button</button>'
                  );
              },
          },*/
        ],
        rows: [
          {
            id: 1,
            name: "TEST1"
          },
          {
            id: 2,
            name: "TEST2"
          }
        ],
        totalRecordCount: 2,
        messages: {
          pagingInfo: "Showing {0}-{1}",
          gotoPageLabel: "Go to page:",
          noDataAvailable: "No data",
        },
      }
    }
  },
  methods: {
    updateTable() {
      return this.server.getUsers().then(users => this.table.rows.splice(0, this.table.rows.length,
          ...users.map(user => {
            user.name = (user.firstName || '') + ' ' + (user.lastName || '');
            return user;
          })))
    }
  },
  created() {
    this.updateTable();
    this.$bus.on(EVENTS.USER.LIST, this.updateTable)
  }
}

</script>
