<template>
  <div>
    <button class="btn btn-primary" v-on:click="this.$refs.modal.open()">
      Create User
    </button>
    <div class="container" v-if="showPassword">
      <span>TemporaryPassword: {{ tempPassword }} </span>
      <button class="btn btn-sm btn-outline-secondary" v-on:click="showPassword=false; tempPassword=undefined">
        X
      </button>
    </div>

    <Modal ref="modal">
      <template v-slot:header>
        <h5 class="modal-title" id="exampleModalLabel">Create User</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </template>
      <template v-slot:body>
        <input type="email" v-model="email" class="form-control" placeholder="name@example.com" aria-label="Email"
               v-on:input="error=''">
        <div class="input-group mb-3">
          <input type="text" v-model="firstName" class="form-control" placeholder="First Name" aria-label="FirstName"
                 v-on:input="error=''">
          <span class="input-group-text"></span>
          <input type="text" v-model="lastName" class="form-control" placeholder="Last Name" aria-label="LastName"
                 v-on:input="error=''">
        </div>
        <span>{{ error }}</span>
      </template>

      <template v-slot:footer>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" v-on:click="create">Create</button>
      </template>
    </Modal>

  </div>
</template>

<script>
import {Server} from "@/utils/server";
import Modal from "@/components/Modal";
import {EVENTS} from "@/utils/bus";


export default {
  name: 'UserCreate',
  props: {
    msg: String,
    /** @type {Server} */
    server: Server
  },
  components: {
    Modal
  },
  data: () => {
    return {
      email: undefined,
      firstName: undefined,
      lastName: undefined,
      error: '',
      showPassword: false,
      tempPassword: undefined
    }
  },
  methods: {
    async create() {
      for (const value of [this.email, this.firstName, this.lastName]) {

        if (value === undefined || value === null || value === '') {
          this.error = 'Some property is empty.';
          return;
        }
      }

      try {
        let response = await this.server.createUser(this.email, this.firstName, this.lastName);
        this.$refs.modal.modal.hide();
        this.tempPassword = response.tempPassword;
        this.showPassword = true;
        this.$bus.emit(EVENTS.USER.LIST);
      } catch (e) {
        this.error = (await e.json()).message;
      }

    }
  }

}

</script>
